nav {
  background: transparent;
  padding: 20px;
}

.div1 {
  /* border: 2px solid red; */
  height: 92vh;
  padding-top: 13%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('./Components/images/DarkBackground.jpg');
  background-repeat: no-repeat;
  background-size: 100% 91vh;
}

.div1 div {
  text-align: center;
}

.footer-div {
  position: relative;
  bottom: 2vh;
}

.product-div {
  margin: 3rem 7rem 0 7rem;
  border: 2px solid red;
}

.product-div div {
  border: 2px solid green;
}
/* Cards */
.card-div {
  border-radius: 10px;
  box-shadow: 1px 1px 4px grey ;
  margin: auto;
}
.card-div img{
  border-radius: 10px;
}