nav{
  background:transparent ;
  width: 91.9vw;
}
.div1{
  /* border: 2px solid red; */
  height: 92vh;
  background-image: url('./Components/images/Background.jpg');
  background-repeat: no-repeat;
  background-size: 93% 85vh;
}
.footer-div{
  width: 91.9vw;
  position: relative;
  bottom: 2vh;
}
